.jumbtron {
    text-
}

.bg-primary {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    
}

.card-header {
    background-color: aquamarine;
}
.table {
    text-indent: 12px;
}

#input {
    padding: 12px 20px 12px 20px;
    
    width: auto;
}